<h2>User Registration</h2>


<app-form-status *ngIf="registrationForm.invalid && registrationForm.touched"
[message]="'Please fix the errors in the form.'"
[isError]="true"
>
</app-form-status>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input formControlName="name">
  </label><br><br>

  <label>
    Email:
    <input formControlName="email">
  </label><br><br>

  <label>
    Password:
    <input type="password" formControlName="password">
  </label><br><br>

  <button type="submit">Register</button>
</form>
